<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<div id="root">
  <div id="name_form">
    Enter your name
    <br>
    <input type="text" id="name_field">
    <br>
    <input type="submit" id="name_submit">
  </div>







</div>

<!-- classes -->
<script src="/javascripts/src/Game.js"></script>
<script src="/javascripts/src/Player.js"></script>


<!-- socket & socket handlers -->
<script src="/socket.io/socket.io.js"></script>

<script src="/javascripts/sockets.js"></script>

<!-- app -->
<script src="/javascripts/app.js"></script>



  </body>
</html>
